body {
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

.Task {
  background-color: white;
  border-radius: 20px;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  backdrop-filter: blur(10px);
  min-height: 700px;
  width: 1200px;
  margin: 100px auto;
}

#to-do-form input {
  background-color: #5b9de7;
  border-radius: 20px;
  width: 900px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border: 0;
  color: #f5f5f5fa;
}

#to-do-form input:focus,
#to-do-form button:focus {
  outline: none;
}

#to-do-form input::placeholder {
  color: white;
}

#to-do-form button {
  height: 50px;
  width: 80px;
  border-radius: 20px;
  border: 0;
  cursor: pointer;
  font-weight: bolder;
  background-color: #4870f1fa;
  color: white;
}
